{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react-hooks", "eslint-plugin-prettier", "unused-imports"],
    "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier"],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-inferrable-types": "off",
        "no-console": "warn",
        "@typescript-eslint/no-inferrable-type": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "unused-imports/no-unused-imports": "warn"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
